
<div class="page-header">
  <h2>About us</h2>
</div>

<p>Hello!  if you are here, is not by chance ... we do not believe the case!  Jung spoke of synchronicity ..  When
  something happens, a fact, a question, a meeting, there's always a reason, that will help change the way we think or our
  own know how.</p>
<p>
  This site was born in a morning in late October, while the wind, raining and lightning in the sky and wild wolves ... It
  is not credible?  :) Okay,  born one morning in late October, observing the activities we  were doing for job, it seemed
  to repeat for the umpteenth time  the same thing, and we wondered where it was the  quality ..!? Maybe we were producing
  only "fuffa"? What's fuffa? Fuffa  in italian is a residual processing wool letteral is wool's  dross, but .. in italian
  slang it means like  crap! Exactly crap without any sense  .. "because the crap usually makes  sense!?"  okay no obvious
  questions! :-P
</p>
<p>
  By the way, the question was .. it was our fault and we had followed the wrong directions? it does not matter! Take Back
  the quality,  rather rebuild it us!   We build an island  where people who want  to improve, to experiment,  to exchange
  contributions, can do it!  And when..? Now! We had to do it now! Why there will never be 'a good day' to reclaim what we
  care about, what interests us.  If  we give others a chance to take away a bit 'at a  time that we are passionate about,
  we give you the chance to take away a bit' at a time around the rest .. including happiness! Exactly!</p>
<p>It's a slow process, we start with the compromises, then  the other, then getting paid less, then to work more hours,
  and finally the loss ..  of professionalism it is only a natural consequence.</p>
<p>Look around,  it is  what is  happening or  not? indeed  it has  already happened  in many  professions, and  now the
  companies themselves  (the most far-sighted)  are taking to  train staff internally, because  what they are  looking for
  there's not any more ..</p>
<p>We want  to help then, to  give back to ourselves  and to others, "the  lost key of technical  knowledge".. May these
  pages be the stargate between what you know or what you will know, and what you are looking for.</p>
<p>
  In Japanese literature they say 'when the student is ready the teacher appears', the best teacher is within us and never
  ceases to give  us lessons if we  listen to him, in  computing is terribly true!   We can build the  know-how alone, and
  progress with the exercise, as in music, can flow the code  from your fingers to create what you want, in any field, and
  ... <br/>MAY THE FORCE BE WITH YOU!</p>

<p>B&C <%= "#{settings.app_name}" %>'s founders.</p>
