
<script language="javascript" type="text/javascript">

 function validateForm() {
   return true
 }
 
 function submitUserChangePasswordForm() {

   if(validateForm()) {
	 $("#changepassword-user-form").submit();
   }

 }

</script>

<div class="page-header">
  <h2>Account</h2>
</div>

<h6> <%= gettext("user.changepassword.raccomandation") %> </h6>

<div class="col-md-4">
  <form action="/account/changepassword" id="changepassword-user-form" method="post">
	<div class="form-group">
	  <label for="changepasswordInputUsername">Username</label>
	  <input type="text" disabled class="form-control" value="  <%= current_user %> "/>
	</div>  
	<div class="form-group">
	  <label for="changepasswordInputPassword">Password</label>
	  <input type="password" class="form-control" id="changepassword[newInputPassword]" name="changepassword[newInputPassword]" placeholder="6 chars at least">
	</div>
	<div class="form-group">
	  <label for="changepasswordInputPasswordConfirm">Confirm password</label>
	  <input type="password" class="form-control" id="changepassword[inputPasswordConfirm]" name="changepassword[inputPasswordConfirm]" placeholder="Repeat">
	</div>
	<button type="button" class="btn btn-primary" onClick='submitUserChangePasswordForm()'>Send</button>
	
	<div id="flash">
	  <label class="col-sm-offset-1 control-label">
		<% if flash[:changepassword] %>
		  <%= flash[:changepassword] %>
		<%  end %>
	  </label>
	</div>
	
  </form>
