
<div class="col-md-9 col-sm-12">

  <blockquote>
	<p style="font-size: smaller;">Ideas only scare men who have none.</p>
	<footer><cite title="Source Title">Vasco Pratolini (Italian writer)</cite></footer>
  </blockquote>
  
  <p>
	<div class="page-header">
      <h2>What is <%= "#{settings.app_name}" %></h2>
	</div>
	<p>Welcome to the amazing world of <%= "#{settings.app_name}" %>, the first  community built on your ideas.</p>
	<p>You and only you are going to decide the content and the functionality ', we are just one of the access gateway to the imagination.</p>
	<p>From here you can start to expose your ideas, you can use our tools and if you're lucky you may even know who has already made or that might help you realize them.</p>
    <p>Our motto: "Do what you like"!</a></p>
    <p><%= "#{settings.app_name}" %> has no paradigm limitations. We don't need limits, we don't rely on barriers.</p>
    <p>Here you will never find the adverb "not" used for limiting purpose.</p>
    <p>We are going to build together the internet of idea.</p>
  </p>

  <p id="services">
    <h2>How to use <%= "#{settings.app_name}" %></h2>
    <ul>
      <li><a href="/idea">Visit</a> our forge and starts to form your ideas.</li>
      <li><a href="/registration-form">Register</a> and begin to follow your ideas and those of others.</li>
    </ul>
  </p>

  <p id="about">
    <h2>Who is behind <%= "#{settings.app_name}" %></h2>

    <p>Visit page <a href="/about">about us</a>.</p>
  </p>
  
  
</div>

<div class="col-md-3 col-sm-12">
  <%= erb escape_link "news" %>
</div>
