
<article id="news">
  <h2>Latest news</h2>

  <div class="col-xs-12">
	<p>
	  <h7>2015-12-30</h7>
	  <p>Last update for service email addresses</p>
	  <p>Getting started with new project IDEA!.</p>	
	</p>
  </div>

  <div class="col-xs-12">
	<p>  
	  <h7>2015-12-29</h7>
	  <p>Contact/help module</p>
	</p>
  </div>
  
  <div class="col-xs-12">
	<p>
	  <h7>2015-12-29</h7>
	  <p>Getting started with new project Q-DEMO.</p>
	</p>
  </div>
  
  <div class="col-xs-12">
	<p>
	  <h7>2015-12-01</h7>
	  <p>Localization module.</p>
	</p>
  </div>	
  
  <div class="col-xs-12">
	<p>
	  <h7>2015-11-27</h7>
	  <p>Registration form.</p>
	</p>
  </div>	
  
  <div class="col-xs-12">
	<p>
	  <h7>2015-11-24</h7>
	  <p>Encrypted password.</p>
	</p>
  </div>	

  
  <div class="col-xs-12">
	<p>
	  <h7>2015-11-23</h7>
	  <p>Authentication module. It's up to you.</p>
	</p>
  </div>	

  
  <div class="col-xs-12">
	<p>
	  <h7>2015-11-10</h7>
	  <p>First release of <%= "#{settings.app_name}" %> in a bundle.</p>
	</p>
  </div>	

  
  <div class="col-xs-12">
	<p>
	  <h7>2015-11-09</h7>
	  <p>Today we implemented a fully template system based on sinatra.</p>
	</p>
  </div>	


  <div class="col-xs-12">
	<p>
	  <h7>2015-11-04</h7>
	  <p>Today we wrote a new rack middleware <%= "#{settings.app_name}" %>::CustomLogger.  The system is now able to log every single http request into
		a request.log file.</p>
	  <p>Finally, the email address for <%= "#{settings.app_name}" %>.com domain are now available. We will be online soon.</p>
	</p>
  </div>
  
  <div class="col-xs-12"> 
	<p><a href="news" style="font-size: 80%">Read older news...</a></p>
  </div>

