<script language="javascript" type="text/javascript">

 function validateForm() {
   return true
 }
 
 function submitUserRegistrationForm() {

   if(validateForm()) {
	 $("#registration-user-form").submit();
   }

 }

</script>

<div class="page-header">
  <h2>Registration Form</h2>
</div>

<form action="/register-user" class="form-horizontal col-md-5 col-xs-12" id="registration-user-form" method="post">
  <div class="form-group">
	<label for="registrationInputUsername">Username</label>
	<input type="email" class="form-control" id="registration[inputUsername]" name="registration[inputUsername]" >
  </div>  
  <div class="form-group">
	<label for="registrationInputEmail">Email</label>
	<input type="email" class="form-control" id="registration[inputEmail]" name="registration[inputEmail]" >
  </div>
  <div class="form-group">
	<label for="registrationInputPassword">Password</label>
	<input type="password" class="form-control" id="registration[inputPassword]" name="registration[inputPassword]" placeholder="6 character at least">
  </div>
  <div class="form-group">
	<label for="registrationInputPasswordConfirm">Confirm password</label>
	<input type="password" class="form-control" id="registration[inputPasswordConfirm]" name="registration[inputPasswordConfirm]" placeholder="Repeat">
  </div>
  <div class="form-group">
	<button type="button" class="btn btn-primary btn-sm" onClick='submitUserRegistrationForm()'>Send</button>
  </div>  
  <div id="flash">
	<label class="control-label">
	  <% if flash[:registration] %>
		<%= flash[:registration] %>
	  <% end %>
	</label>
  </div>  
</form>
