<div class="page-header">
  <h2>Chi siamo</h2>
</div>

<p>Ciao!</p> <p>se  sei qui non  è per caso...   non crediamo al caso!  Jung parlava di  sincronicità..  quando qualcosa  accade, un
  fatto, un'informazione, un incontro,  c'è sempre un motivo, che contribuirà  a cambiare il nostro modo di pensare  od il nostro know
  how.   Questo sito  nasce  una mattina  di  fine ottobre,  mentre  il  vento soffiava,  pioggia  e fulmini  nel  cielo grigio,  lupi
  selvatici... Non  è credibile? :)  okay, nasce  una mattina di  fine ottobre, osservando  delle attività  che stavamo facendo,  ci è
  sembrato di  ripetere per  l'ennesima volta  la stessa  cosa, e  ci siamo  chiesti dove  fosse finita  la qualità..!?  Forse stavamo
  producendo soltanto "fuffa"?  What's fuffa?  fuffa in italian is  a residual processing wool letteral wool's dross, but.. in italian
  slang it means like shit!  Exactly shit without any sense.. "perchè la merda di solito ha senso?" okay niente domande ovvie!</p> <p>
  By the way, the question was.. era colpa nostra o  avevamo seguito le indicazioni sbagliate?  non importa! Riprendiamoci la qualità,
  anzi costruiamocela! Costruiamo un'isola dove chi ha voglia di migliorare, di sperimentare, di scambiare contributi, possa farlo!  E
  quando..? Ora! Dovevamo  farlo ora! Perchè non ci sarà  mai 'il giorno giusto' per  riappropriarci di quello che ci sta  a cuore, di
  quello che ci interessa.  Se diamo  agli altri la possibilità di toglierci un po' alla volta quello  che ci appassiona, gli diamo la
  possibilità di  toglierci un po' alla  volta tutto il resto..   compresa la felicità!  Esatto!   E' un processo lento,  iniziamo con
  l'accettare dei  compromessi, poi  degli altri,  poi di  essere pagati  meno, poi di  lavorare più  ore, ed  infine.. la  perdita di
  professionalità ne è solo una naturale conseguenza.</p>

<p> Guardati attorno, è  quello che sta accadendo o no?  anzi  è già accaduto in molte professioni, e ora  le aziende stesse (quelle
  più lungimiranti) stanno  riprendendo a formare il personale internamente,  perchè quello che cercano fuori non  c'è più..  Vogliamo
  contribuire quindi,  a ridare a  noi stessi ed  agli altri, "la  chiave della conoscenza  tecnica" andata perduta..   Possano queste
  pagine essere lo stargate tra quello che sai, o quello che sapevi, e quello che stai cercando.  Nella letteratura giapponese si dice
  'quando l'allievo  è pronto  compare il  maestro', il  miglior maestro  è dentro di  noi e  non smette  mai di  darci lezioni  se lo
  ascoltiamo, nell'informatica è tremendamente vero! Possiamo costruirci il know how da soli, e progredire con l'esercizio, come nella
  musica, possa  fluire il codice dalle  tue dita per  creare ciò che desideri,  in qualsiasi campo,  and...</p> <p> LA FORZA  SIA CON
  TE!<p>

  <p>B&C fondatori di <%= "#{settings.app_name}" %>.</p>
