
<script language="javascript" type="text/javascript">

 function validateForm() {
   return true
 }
 
 function submitUserChangePasswordForm() {

   if(validateForm()) {
	 $("#changepassword-user-form").submit();
   }

 }

</script>

<div class="page-header">
  <h2>Account</h2>
  <small> <%= gettext("user.changepassword.raccomandation") %> </small>
</div>

<div class="col-md-4">
  <form action="/account/changepassword" id="changepassword-user-form" method="post">
	<div class="form-group">
	  <label for="changepasswordInputUsername">Nome utente</label>
	  <input type="text" disabled class="form-control" value="  <%= current_user %> "/>
	</div>	

	<div class="form-group">
    <label for="changepasswordInputProfileImage">Immagine del profilo</label>
    <input type="file" id="changepasswordInputProfileImage" value="Carica immagine">
    <p class="help-block">Carica la tua immagine(1GB massimo).</p>
	</div>

	<div class="form-group">
	  <label for="changepasswordInputProfileImage">Immagine del profilo</label>
	  <div>
		<label class="btn btn-default" for="changepasswordInputProfileImage">
		  <input id="changepasswordInputProfileImage" type="file" style="display:none;">
		  <span style="font-weight: 500; font-size: smaller; ">Carica immagine...</span>
		</label>
		<p class="help-block">Carica la tua immagine(1MB massimo).</p>
	  </div>
	</div>
	<div class="form-group">
	  <label for="changepasswordInputPassword">Password</label>
	  <input type="password" class="form-control" id="changepassword[newInputPassword]" name="changepassword[newInputPassword]" placeholder="Almeno 6 caratteri">
	</div>
	<div class="form-group">
	  <label for="changepasswordInputPasswordConfirm">Conferma password</label>
	  <input type="password" class="form-control" id="changepassword[inputPasswordConfirm]" name="changepassword[inputPasswordConfirm]" placeholder="Ripeti">
	</div>
	<button type="button" class="btn btn-primary" onClick='submitUserChangePasswordForm()'>Invia</button>
	
	<div id="flash">
	  <label class="control-label error">
		<% if flash[:changepassword] %>
		  <%= flash[:changepassword] %>
		<%  end %>
	  </label>
	</div>
	
  </form>
</div>  
