
<div class="col-md-9 col-sm-12">

  <blockquote>
	<p style="font-size: smaller;">Le idee spaventano chi non ne ha.</p>
	<footer><cite title="Source Title">Vasco Pratolini </cite></footer>
  </blockquote>
  
  <div>
	<div class="page-header">
      <h2>Cosa e' <%= "#{settings.app_name}" %></h2>
	</div>
	<p>Benvenuto nel fantastico mondo di <%= "#{settings.app_name}" %>, la prima comunita' costruita sulle tue idee.</p>
	<p>Sei tu a decidere i contenuti e le funzionalita'. Noi siamo semplicemente uno dei tanti gateway di accesso alla fantasia.</p>
	<p>Da qui puoi partire per esporre le tue idee. Puoi utilizzare i nostri strumenti e se sei fortunato puoi persino conoscere chi le ha gia' realizzate o che potrebbe realizzarle per te.</p>
    <p>Il nostro motto e' "Fa cio' che vuoi"!</a></p>
    <p><%= "#{settings.app_name}" %> non ha limiti di paradigmi. Non accettiamo limiti, non edifichiamo barriere.</p>
    <p>Qui non troverai mai l' avverbio "non", utilizzato a scopi limitativi.</p>
    <p>Stiamo costruendo insieme l' internet delle idee.</p>
  </div>

  <p id="services">
    <h2>Come utilizzare <%= "#{settings.app_name}" %></h2>
    <ul>
      <li><a href="/idea">Visita</a> la nostra fucina ed inizia a forgiare le tue idee.</li>
      <li><a href="/registration-form">Iscriviti</a> e comincia a seguire le tue idee e quelle degli altri.</li>
    </ul>
  </p>

  <p id="about">
    <h2>Chi c'e' dietro <%= "#{settings.app_name}" %></h2>

    <p>Visita la pagina <a href="/about">chi siamo</a>.</p>
  </p>
  
  
</div>

<div class="col-md-3 col-sm-12">
  <%= erb escape_link "news" %>
</div>
