
<script language="javascript" type="text/javascript">
 
 function submitLoginForm() {
   $("#login-form").submit();
 } 
 
</script>

<div class="page-header">
  <h2>Login</h2>
</div>

<form id="login-form" class="form-horizontal col-md-5 col-xs-12" action="/login" method="post">
  <div class="form-group">
	<label for="registrationInputUsername">Nome utente</label>
	<input type="username" class="form-control" id="login[inputUsername1]" name="login[inputUsername1]" placeholder="Username">
  </div>
  <div class="form-group">
	  <label for="registrationInputUsername">Password</label>
	  <input type="password" class="form-control" id="login[inputPassword1]" name="login[inputPassword1]" placeholder="Password">
	</div>
	
	<div class="form-group">

	  <div>Password <a href="/resetpassword-form">dimenticata?</a></div>

	</div>		
	
	<div class="form-group">

	  <button type="button" class="btn btn-primary btn-sm" onClick='submitLoginForm()'>Accedi</button>

	</div>	
	
	<div id="flash">

	  <label class="control-label">
		<% if flash[:msg] %>
		  <%= gettext("login.failed") %>			
		<%  end %>
	  </label>

	</div>
	
</form>
