
  <h2>News</h2>
  <div class="col-xs-12">
	<p>
	  <h7>2015-12-30</h7>
	  <p>Aggiornamento degli indirizzi email di servizio</p>
	  <p>Avvio del progetto IDEA!.</p>		  
	</p>
  </div>
  <div class="col-xs-12">
	<p>
	  <h7>2015-12-29</h7>
	  <p>Modulo di contatto/aiuto</p>
	  <p>Avvio del progetto Q-DEMO.</p>	  
	</p>
  </div>
  <div class="col-xs-12">
	<p>
	  <h7>2015-12-01</h7>
	  <p>Completato il modulo di localizzazione.</p>	  
	</p>
  </div>
  <div class="col-xs-12">
	<p>
	  <h7>2015-11-27</h7>
	  <p>Modulo di iscrizione.</p>	  
	</p>
  </div>
  <div class="col-xs-12">
	<p>
	  <h7>2015-11-10</h7>
	  <p>Implementata la cifratura delle password.</p>
	  <p>Implementato modulo di autenticazione.</p>
	  <p>Primo rilascio di <%= "#{settings.app_name}" %> in a bundle.</p>	  
	</p>
  </div>
  <div class="col-xs-12">
	<p>
	  <h7>2015-11-09</h7>
	  <p>Abbiamo completato la prima implementazione del sistema totalmente basato su sinatra.</p>	  
	</p>
  </div>
  <div class="col-xs-12">
	<p>
	  <h7>2015-11-04</h7>
	  <p>Implementato un middleware <%= "#{settings.app_name}" %>::CustomLogger.  Il sistema e' ora in grado di loggare ogni singola richiesta http.</p>
	  <p>Sono disponili le prime caselle di posta per il dominio <%= "#{settings.app_name}" %>.com. Saremo presto online.</p>
	</p>
  </div>
  <div class="col-xs-12">
	<p><a href="/news" style="font-size: 80%">Notizie precedenti...</a></p>
  </div>
  

