
<div class="page-header"> 
  <h2>Benchmark this site</h2>
</div>



<div>

  <p>
	In this section you can found interesting (we hope) benchmark results for this site.
  </p>
  
  <h2>Results</h2>


  <p>
	This is ApacheBench, Version 2.3 <i>&lt;$Revision: 655654 $&gt;</i><br>
	Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.zeustech.net/<br>
	Licensed to The Apache Software Foundation, http://www.apache.org/<br>
  </p>

  <table >
	<tr ><th colspan=2 bgcolor=white>Server Software:</th><td colspan=2 bgcolor=white>Apache/2.2.15</td></tr>
	<tr ><th colspan=2 bgcolor=white>Server Hostname:</th><td colspan=2 bgcolor=white>ruby-cksmile.rhcloud.com</td></tr>
	<tr ><th colspan=2 bgcolor=white>Server Port:</th><td colspan=2 bgcolor=white>80</td></tr>
	<tr ><th colspan=2 bgcolor=white>Document Path:</th><td colspan=2 bgcolor=white>/</td></tr>
	<tr ><th colspan=2 bgcolor=white>Document Length:</th><td colspan=2 bgcolor=white>5985 bytes</td></tr>
	<tr ><th colspan=2 bgcolor=white>Concurrency Level:</th><td colspan=2 bgcolor=white>25</td></tr>
	<tr ><th colspan=2 bgcolor=white>Time taken for tests:</th><td colspan=2 bgcolor=white>66.575 seconds</td></tr>
	<tr ><th colspan=2 bgcolor=white>Complete requests:</th><td colspan=2 bgcolor=white>500</td></tr>
	<tr ><th colspan=2 bgcolor=white>Failed requests:</th><td colspan=2 bgcolor=white>0</td></tr>
	<tr ><th colspan=2 bgcolor=white>Total transferred:</th><td colspan=2 bgcolor=white>3410500 bytes</td></tr>
	<tr ><th colspan=2 bgcolor=white>HTML transferred:</th><td colspan=2 bgcolor=white>2992500 bytes</td></tr>
	<tr ><th colspan=2 bgcolor=white>Requests per second:</th><td colspan=2 bgcolor=white>7510.34</td></tr>
	<tr ><th colspan=2 bgcolor=white>Transfer rate:</th><td colspan=2 bgcolor=white>51228.03 kb/s received</td></tr>
	<tr ><th bgcolor=white colspan=4>Connnection Times (ms)</th></tr>
	<tr ><th bgcolor=white>&nbsp;</th> <th bgcolor=white>min</th>   <th bgcolor=white>avg</th>   <th bgcolor=white>max</th></tr>
	<tr ><th bgcolor=white>Connect:</th><td bgcolor=white>    0</td><td bgcolor=white>   86</td><td bgcolor=white> 3004</td></tr>
	<tr ><th bgcolor=white>Processing:</th><td bgcolor=white>  343</td><td bgcolor=white> 2050</td><td bgcolor=white>29515</td></tr>
	<tr ><th bgcolor=white>Total:</th><td bgcolor=white>  343</td><td bgcolor=white> 2136</td><td bgcolor=white>32519</td></tr>
  </table>


</div>
