<script language="javascript" type="text/javascript">

 function validateForm() {
   return true
 }
 
 function submitContactHelpForm() {

   if(validateForm()) {
	 $("#contact-help-form").submit();
   }

 }

</script>

<div class="page-header"> 
  <h2><%= gettext("view.contact.title1") %></h2>
</div>

<form action="/contact/help" id="contact-help-form" class="form-horizontal col-md-5 col-xs-12" method="post">
  
  <div class="form-group">
	<input type="email" class="form-control" id="contact[inputUsername]" name="contact[inputUsername]"  placeholder=" <%=  gettext("view.contact.email1.label") %> ">
  </div>

  <div class="form-group">
	<textarea class="form-control" rows="3" id="contact[inputMessage]" name="contact[inputMessage]"  placeholder="<%=gettext("view.contact.message1.label")%>" ></textarea>
  </div>

  <div class="form-group">		
	<button type="button" class="btn btn-primary" onClick='submitContactHelpForm()'>  <%= gettext("view.contact.submit1.title") %> </button>
  </div>

  <div class="form-group">		
	<div id="flash">
	  <label class="control-label">
		<% if flash[:contact] %>
		  <%= flash[:contact] %>
		<% end %>
	  </label>
	</div>
  </div>
  
</form>
