<script language="javascript" type="text/javascript">

 function validateForm() {
   return true
 }
 
 function submitDeleteuserForm() {

   if(validateForm()) {
	 $("#deleteuser-user-form").submit();
   }

 }

</script>

<div class="page-header">
  <h2> <%= gettext("view.user.delete.title") %> </h2>
</div>

<div class="col-xs-12">
  <%= gettext("view.user.delete.instruction") %>
</div>

<div class="col-md-4 col-xs-12">
  
  <form action="/account/delete" id="deleteuser-user-form" method="post">
	<div class="form-group">
	  <label for="deleteuser[inputUsername]"> <%= gettext("view.user.delete.text1.label") %> </label>
	  <input type="username" class="form-control" id="deleteuser[inputUsername]" name="deleteuser[inputUsername]" >
	</div>  
	<button type="button" class="btn btn-primary" onClick='submitDeleteuserForm()'>  <%= gettext("view.user.delete.submit1.title") %> </button>
	
	<div id="flash">
	  <label class="control-label">
		<% if flash[:deleteuser] %>
		  <%= flash[:deleteuser] %>
		<% end %>
	  </label>
	</div>
	
  </form>
</div>
