
<script language="javascript" type="text/javascript">

 function validateForm() {
   return true
 }
 
 function submitContactIdeaForm() {

   if(validateForm()) {
	 $("#contact-idea-form").submit();
   }

 }

</script>

<div class="page-header">  
  <h2><%= gettext("view.idea.title") %>
	<p><small><%= gettext("view.idea.title1") %></small></p>
  </h2>
</div>

<p>
  <%= gettext("view.idea.title2") %>
</p>

<form action="/contact/idea" id="contact-idea-form" class="form-horizontal  col-md-5 col-xs-12" method="post">

  <!-- Titolo -->
  <div class="form-group">
	<input class="form-control" id="contact[title]" name="contact[title]"  placeholder="<%=gettext("view.idea.field1.label")%>" ></textarea>
  </div>

  <!-- Tipologia -->	
  <div class="form-group">
	<select class="form-control" placeholder="Scegli il tipo" id="contact[type]" name="contact[type]">
	  <option value="task"><%=gettext("view.idea.task.label")%></option>
	  <option value="project"><%=gettext("view.idea.project.label")%></option>
	</select>		
  </div>	

  <!-- Descrizione -->	
  <div class="form-group">
	<textarea class="form-control" rows="3" id="contact[description]" name="contact[description]"  placeholder="<%=gettext("view.idea.description.label")%>" ></textarea>
  </div>

  <!-- Email -->
  <div class="form-group">
	<input type="email" class="form-control" id="contact[email]" name="contact[email]"  placeholder=" <%=  gettext("view.idea.email.label") %> ">
  </div>

  <div class="form-group">		
	<button type="button" class="btn btn-primary btn-sm" onClick='submitContactIdeaForm()'>  <%= gettext("view.idea.submit.title") %> </button>
  </div>	
  
  <div class="form-group">		
	<div id="flash">
	  <label class="control-label">
		<% if flash[:idea] %>
		  <%= flash[:idea] %>
		<% end %>
	  </label>
	</div>
  </div>
  
</form>
