
<div class="page-header">
  <h2><%= gettext("links.section1.title") %></h2> 
</div>

<div>
  <p> <%= gettext("links.section1.text") %> </p>
  <ul>
	<li><a href="https://developers.openshift.com/">Openshift</a></li>
	<li><a href="http://rack.github.io/">Rack</a></li>			  
	<li><a href="https://www.phusionpassenger.com/library/walkthroughs/start/">Phusion Passenger</a></li>
	<li><a href="http://www.sinatrarb.com/">Sinatra</a></li>
	<li><a href="http://bundler.io/">Bundler</a></li>	  
  </ul>
</div>
