<script language="javascript" type="text/javascript">

 function validateForm() {
   return true
 }
 
 function submitResetPasswordForm() {

   if(validateForm()) {
	 $("#resetpassword-user-form").submit();
   }

 }

</script>

<div class="page-header">
  <h2>Reset password</h2>
</div>

<div class="col-xs-12">
  <%= gettext("user.resetpassword.instruction") %>
</div>

<div class="col-md-4 col-xs-12">
  
  <form action="/account/resetpassword" id="resetpassword-user-form" method="post">
	<div class="form-group">
	  <label for="resetpassword[inputUsername]"> <%= gettext("user.resetpassword.input1.title") %> </label>
	  <input type="username" class="form-control" id="resetpassword[inputUsername]" name="resetpassword[inputUsername]" >
	</div>  
	<button type="button" class="btn btn-primary" onClick='submitResetPasswordForm()'>  <%= gettext("user.resetpassword.submit1.title") %> </button>
	
	<div id="flash">
	  <label class="col-sm-offset-1 control-label">
		<% if flash[:resetpassword] %>
		  <%= flash[:resetpassword] %>
		<% end %>
	  </label>
	</div>
	
  </form>
</div>
