.row {
    margin-left: 0px;
    margin-right: 0px;
	
	padding-left: 15px;
	padding-right: 15px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    overflow-x: hidden;
	margin-bottom: 260px;
}

foot {
    color: #fff;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 260px;
}

foot h3 {
    margin-bottom: 30px;
}

foot .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

foot .footer-col {
    margin-bottom: 50px;
}

foot .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #2c3e50 !important;
}


.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

foot a {
    color: #FFF !important;
}